.div-style {
    max-height: 400px;
    overflow: auto;
    background-color: black;
    overflow-x: hidden;
}

.bgGray {
    background-color: lightgray;
}

.bgGrayDark {
    background-color: gray;
}