@using Models;
@using System;
@inject HttpClient Http

@page "/admin"

<PageTitle>Admin</PageTitle>

<h3>Admin panel</h3>

<div class="container text-center mb-4">
    <div class="row">
        <div>
            @if (rooms == null)
            {
                <p>Loading...</p>
            }
            else
            {
                @foreach (var room in rooms.Where(item => item.type.name == "Standard"))
                {
                    <p>@room.roomNum</p>
                    <button class="btn btn-success">Test</button>
                }
                @foreach (var room in rooms.Where(item => item.type.name == "Premium"))
                {
                    <p>@room.roomNum</p>
                    <button class="btn btn-success">Test2</button>
                }
                @foreach (var room in rooms.Where(item => item.type.name == "Deluxe"))
                {
                    <p>@room.roomNum</p>
                    <button class="btn btn-success">Test3</button>
                }
            }
        </div>
    </div>
</div>


@code 
{
    private List<Room>? rooms;

    protected override async Task OnInitializedAsync()
    {
        rooms = await GetListOfRooms();
    }
}
