@page "/book"
@inject HttpClient Http
@using Models;

<PageTitle>Andet Hotel Booking</PageTitle>

<h1>Booking</h1>


<table>
    <p>abc</p>

    @if (response == null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Address</th>
                    <th>Name</th>
                    <th>phoneNumber</th>
                </tr>
            </thead>
            <tbody>
                @foreach (Hotel hotel in response)
                {
                    <tr>
                        <td>@response</td>
                    </tr>
                }
            </tbody>
        </table>
    }
</table>

@code {
    private Hotel[]? response;

    protected override async Task OnInitializedAsync()
    {
        var a = Abc();
        Console.WriteLine(a);
        //response = await Http.GetFromJsonAsync<Hotel[]>("https://localhost:7285/api/Rooms");
    }
}
