@using Models;
@inject HttpClient Http
@inject IJSRuntime JsRuntime

@page "/profile"

<PageTitle>Customer view</PageTitle>

<div class="container text-center mb-4">
    <div class="row">
        @* Get all current and future reservations. *@
        @if (bookings == null)
        {
            <p><em>Loading...</em></p>
        }
        else
        {
            <em>
                <h3>Her kan du se fremtidige reservationer</h3>
                @foreach (var item in bookings!.Where(item => item.startDate > DateTime.Today))
                {
                    <div class="mb-3 w-100 p-3 rounded bg-light">
                        <div class="left">
                            <p class="">Du har booket et @item.room!.type!.name værelse</p>
                            <p class="">Det er booket fra d. @item.startDate.ToShortDateString() til d. @item.endDate.ToShortDateString()</p>
                        </div>
                        <div>
                            @* If startdate is in the future, they have ability to cancel the reservation *@
                            @if (true)
                            {
                                <button class="btn btn-success" @onclick="()=>cancelBooking(item.id)">Annullere bookingen</button>
                            }
                        </div>
                    </div>
                }
            </em>
        }
    </div>
</div>

@code {
    private List<Booking>? bookings;

    protected override async Task OnInitializedAsync()
    {
        bookings = await GetUserBookings();
    }
}
