@page "/payment"
@inject HttpClient Http
@using Models;
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager
@inject IJSRuntime JSRuntime
@using Client.Shared.Utilities
@using Client.Pages
@code{
    RoomType roomType = new();
    Book book = new();
}
<div class="container p-0">
    <div class="card px-4">
        <p class="h8 py-3">betaling</p>
        <div class="row gx-3">
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Navn på kort</p>
                    <input class="form-control mb-3" type="text" placeholder="Name">
                </div>
            </div>
            <div class="col-12">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Kortnummer</p>
                    <input class="form-control mb-3" type="number" placeholder="1234 5678 435678">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">Udløbs dato</p>
                    <input class="form-control mb-3" type="text" placeholder="MM/YYYY">
                </div>
            </div>
            <div class="col-6">
                <div class="d-flex flex-column">
                    <p class="text mb-1">CVV/CVC</p>
                    <input class="form-control mb-3 pt-2 " type="number" placeholder="***">
                </div>
            </div>
            <div class="col-12">
                <div class="btn btn-primary mb-3" @onclick="ShowAlert">
                    <span class="ps-3" onclick="@createbooking">Pris: @roomType.price</span>
                    <span class="fas fa-arrow-right"></span>
                </div>
            </div>
        </div>
    </div>
</div>
