@page "/signup"
@inject HttpClient Http
@using Models;
@inherits LayoutComponentBase
@inject Microsoft.AspNetCore.Components.NavigationManager NavigationManager

<PageTitle>Opret</PageTitle>

<EditForm Model="@customer">
<section class="h-100 h-custom">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-lg-8 col-xl-6">
                <div class="card rounded-3">
                    <img src="https://estate.mindworking.eu/resources/shops/N270228/cases/1834/casemedia/images/4398d80275fffeacce56607205c01d54/customsize.jpg?deviceid=xxx&bgcolor=ffffff&dpi=72&jq=70&tp=rgb&fo=1&w=2100"
                         class="w-100" style="border-top-left-radius: .3rem; border-top-right-radius: .3rem;"
                         alt="Andet Hotel">
                    <div class="card-body p-4 p-md-5 text-black FormBgColor">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5 px-md-2">Registrerings informationer</h3>
                        <form class="px-md-2">
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formName">Navn</label>
                                    <InputText required type="text" id="formName" class="form-control" placeholder="Navn" @bind-Value="customer.name" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formEmail">Email</label>
                                    <InputText required type="email" id="formEmail" class="form-control" placeholder="Email" @bind="customer.email" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formPassword">Password</label>
                                    <InputText required type="password" id="formPassword" class="form-control" placeholder="Password" @bind="customer.password" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formPasswordConfirm">Bekræft password</label>
                                <InputText required type="password" id="formPasswordConfirm" class="form-control" placeholder="Bekræft password" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formPhoneNumber">Tlf. nr.</label>
                                    <InputText required type="tel" id="formPhoneNumber" class="form-control" placeholder="Tlf. nr." @bind="customer.phoneNumber" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formAge">Alder</label>
                                    <InputText required type="number" id="formAge" class="form-control" placeholder="Alder" @bind="customer.age" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formAddress">Adresse</label>
                                    <InputText required type="text" id="formAddress" class="form-control" placeholder="Adresse" @bind="customer.address" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formZipCode">Post nr.</label>
                                    <InputText required type="number" id="formZipCode" class="form-control" placeholder="Post nr." @bind="customer.zipcode" />
                            </div>
                            <div class="form-outline mb-4">
                                <label class="form-label" for="formCity">By</label>
                                    <InputText required type="text" id="formCity" class="form-control" placeholder="By" @bind="customer.city" />
                            </div>
                            <button type="submit" class="btn btn-success btn-lg mb-1" @onclick="RegisterUser">Opret</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</EditForm>

@code {
    private Customer customer = new Customer();
}
