@using Client.Shared.Utilities;
@using Client.Pages;
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="/mybookings"><p>@GlobalAuthState.Name </p></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div> 
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Forside
            </NavLink>
        </div>
        <div class="dropdown nav-item px-3">
            <NavLink class="nav-link">
                <span class="oi oi-plus" aria-hidden="true"></span> Værelser
            </NavLink>
            <NavLink class="nav-link" href="standard">
                <span class="roomSelect" aria-hidden="true"></span> Standard
            </NavLink>
            <NavLink class="nav-link" href="premium">
                <span class="roomSelect" aria-hidden="true"></span> Premium
            </NavLink>
            <NavLink class="nav-link" href="deluxe">
                <span class="roomSelect" aria-hidden="true"></span> Deluxe
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="book">
                <span class="oi oi-calendar" aria-hidden="true"></span> Book
            </NavLink>
        </div>
        @if (GlobalAuthState.UserId != null)
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="mybookings">
                    <span class="oi oi-calendar" @onclick="UpdateComponent" aria-hidden="true"></span> Se booking
                </NavLink>
            </div>

            <div class="nav-item px-3">
                <NavLink class="nav-link" href="editProfile">
                    <span class="oi oi-person" aria-hidden="true"></span> Ret profil
                </NavLink>
            </div>
        }
        <div class="nav-item px-3 showLogin">
            @code {
                Login login = new();
            }
            @if (GlobalAuthState.UserId != null)
            {
                <NavLink class="nav-link" href="/" @onclick="() => login.Logout()">
                    <!-- Replace 'login' with the actual @ref name -->
                    <span class="oi oi-person" aria-hidden="true"></span> Log ud
                </NavLink>
            }
            else
            {
                <NavLink class="nav-link" href="login">
                    <span class="oi oi-person" aria-hidden="true"></span> Log ind
                </NavLink>
            }

        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
    private void UpdateComponent()
    {
        StateHasChanged();
    }
}
