<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Client</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Forside
            </NavLink>
        </div>
        <div class="dropdown nav-item px-3">
            <NavLink class="nav-link" @onclick="ToggleDropdown">
                <span class="oi oi-plus" aria-hidden="true"></span> Værelser
            </NavLink>
            <ul class="@dropdownCssClass text-white bg-dark" @onclick="ToggleDropdown">
                <li><a href="standard">Standard</a></li>
                <li><a href="premium">Premium</a></li>
                <li><a href="deluxe">Deluxe</a></li>
            </ul>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="book">
                <span class="oi oi-calendar" aria-hidden="true"></span> Book
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="oi oi-person" aria-hidden="true"></span> Log ind
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}

@code {
    private bool isDropdownVisible = false;

    private string dropdownCssClass => isDropdownVisible ? "dropdown-menu show" : "dropdown-menu";

    private void ToggleDropdown()
    {
        isDropdownVisible = !isDropdownVisible;
    }
}
